.numeros{
    background-color: #2d2d2d;
    width: 240px;
    height: 240px;
    padding: 10px;
    border-radius: 5px;
    position: relative;

}
.numero{
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    margin: 3px;
    background-color: white;
    border-radius: 5px;
    user-select: none;
}
.p-relative{
    position: absolute;
    height: 230px;
    width: 230px;
}
.row{
    padding-left: 13px;
}
.icon{
    height: 70%;
    width: 100%;
}