
  <div class="numeros">
    <div class="p-relative">

      <div class="row">
        <div  (click)="printNumber('7')" class="numero">7</div>
        <div  (click)="printNumber('8')"class="numero">8</div>
        <div  (click)="printNumber('9')"class="numero">9</div>
        <div  (click)="printNumber('7')" class="numero">Cant.</div>
      </div>
      <div class="row">
        <div  (click)="printNumber('4')" class="numero">4</div>
        <div  (click)="printNumber('5')" class="numero">5</div>
        <div  (click)="printNumber('6')" class="numero">6</div>
        <div  (click)="printNumber('7')" class="numero">Desc.</div>
      </div>
      <div class="row">
        <div  (click)="printNumber('1')" class="numero">1</div>
        <div  (click)="printNumber('2')" class="numero">2</div>
        <div  (click)="printNumber('3')" class="numero">3</div>
        <div  (click)="printNumber('7')" class="numero">Precio</div>
      </div>
      <div class="row">
        <div (click)="printSigno()" class="numero">+/-</div>
        <div  (click)="printNumber('0')" class="numero">0</div>
        <div  (click)="printNumber('.')" class="numero">.</div>
        <div  (click)="borrar()" class="numero"><ion-icon class="icon" name="backspace-outline"></ion-icon></div>
      </div>

    </div>
    
  </div>