.content{
    width: 90%;
    margin: 10px auto;
    padding-top: 1.5cm;
}

.caja{
    margin: 2cm 1cm;
    padding: 1cm 0;
    background-color: #f0f0f0;
    border: 1px solid #2d2d2d;
}

.caja:hover{
    color: black;
}