<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Pagos</ion-title>
  </ion-toolbar>
</ion-header> -->

  <div class="appprecios">
    <app-precios></app-precios>
  </div>
  
  <div class="padre">
    <div class="row">
      <div class="col-sm-4 caja_btn">
        
        <div>
          <button class="btn_efectivo" ><b>Pago en Efectivo</b></button>
        </div>

        <div class="btn_pagos">
          <b><p>Pago con Tarjeta</p></b>
          <div class="row img_pagos">
            <div class="col-sm-4" style="height: 40px; padding-right: 0px;"><img style="height: 40px;" src="./../../../assets/img/visa.png" alt=""></div>
            <div class="col-sm-4" style="height: 40px; padding-right: 0px; padding-left: 0px; line-height: 2.5;"><img style="height: 30px;" src="./../../../assets/img/MasterCard_Logo.svg.png" alt=""></div>
            <div class="col-sm-4" style="height: 40px; padding-left: 0px; "><img style="height: 40px;" src="./../../../assets/img/logo-bancolombia.png" alt=""></div>
          </div>
        </div>

        <div>
          <button class="btn_atras"><b>< Atras</b></button>
        </div>

      </div>

      <div class="col-sm-4 caja_teclado">
        <app-teclado-numerico></app-teclado-numerico>
      </div> 

      <div class="col-sm-4 caja_cliente">
        
        <div>
          <button class="btn_efectivo"><b>Cliente</b></button>
        </div >

        <div>
          <button class="btn_factura"><b>Factura</b></button>
        </div>

        <div>
          <button class="btn_validar"><b>Validar ></b></button>
        </div>

      </div>

    </div>

  </div>
