.padre{
    background: rgba(20,179,147,1);
    background: -moz-linear-gradient(top, rgba(20,179,147,1) 0%, rgba(20,179,147,1) 72%, rgba(4,138,111,1) 72%, rgba(4,138,111,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(20,179,147,1)), color-stop(72%, rgba(20,179,147,1)), color-stop(72%, rgba(4,138,111,1)), color-stop(100%, rgba(4,138,111,1)));
    background: -webkit-linear-gradient(top, rgba(20,179,147,1) 0%, rgba(20,179,147,1) 72%, rgba(4,138,111,1) 72%, rgba(4,138,111,1) 100%);
    background: -o-linear-gradient(top, rgba(20,179,147,1) 0%, rgba(20,179,147,1) 72%, rgba(4,138,111,1) 72%, rgba(4,138,111,1) 100%);
    background: -ms-linear-gradient(top, rgba(20,179,147,1) 0%, rgba(20,179,147,1) 72%, rgba(4,138,111,1) 72%, rgba(4,138,111,1) 100%);
    background: linear-gradient(to bottom, rgba(20,179,147,1) 0%, rgba(20,179,147,1) 72%, rgba(4,138,111,1) 72%, rgba(4,138,111,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14b393', endColorstr='#048a6f', GradientType=0 );
    width: 100%;
    height: 50%;
}
.col-sm-4{
    height: 265px;
}
.appprecios{
    padding-top: 30px;
}

.btn_efectivo{
    background-color: white;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.btn_pagos{

    background-color: white;
    width: 100%;
    height: 70px;
    border-radius: 5px;
    text-align: center;
}

.btn_pagos p{
    margin-bottom: 0px;
    padding-top: 5px;
}

.caja_btn{
    padding-left: 35px;
    padding-top: 15px;
    padding-right: 0px;
}
.btn_atras{
    width: 100%;
    border-radius: 5px;
    height: 50px;
    margin-top: 40px;
    background-color: #A5C23A;
    color: white;
}

.caja_cliente{
    padding-left: 5px;
    padding-top: 15px;
    padding-right: 35px;
}
.btn_factura{

    background-color: #2B2839;
    color: white;
    width: 100%;
    height: 70px;
    border-radius: 5px;

}
.btn_validar{
    width: 100%;
    border-radius: 5px;
    height: 50px;
    margin-top: 40px;
    background-color: #16AFC3;
    color: white;

}
.img_pagos{
    height: 60%;
}

.caja_teclado{
    padding-top: 15px;
}