

  <div class="row">
    <div class="col-sm-6 offset-sm-3"><h3>Clientes</h3> </div>   
  </div>

  <div>
    <form [formGroup]="gform" (ngSubmit)="guardar()" >
      <div class="row margin_bt">
        <div class="col-sm-5">
          <input type="text" class="form-control input_right" [ngClass]="{form_error:gform.controls['nombre'].touched==true && gform.controls['nombre'].invalid }"   formControlName="nombre" placeholder="Nombre">
        </div>
        <div class="col-sm-5">
          <input type="email" class="form-control" [ngClass]="{form_error:gform.controls['correo'].touched==true && gform.controls['correo'].invalid }" formControlName="correo"  placeholder="Email">
        </div>
        <div class="col-sm-2 btn_limpiar"><button (click)="limpiar()"><b> Limpiar </b></button></div>
      </div>

      <div class="row margin_bt">
        <div class="col-sm-5">
          <input type="text" class="form-control input_right" [ngClass]="{form_error:gform.controls['apellido'].touched==true && gform.controls['apellido'].invalid }" formControlName="apellido" placeholder="Apellido">
        </div>
        <div class="col-sm-5">
          <input type="text" class="form-control" [ngClass]="{form_error:gform.controls['telefono'].touched==true && gform.controls['telefono'].invalid }" formControlName="telefono" placeholder="Telefono">
        </div>
        <div class="col-sm-2 btn_guardar"><button type="submit" ><b> Guardar</b></button></div>
      </div>
      
      <div class="row">
        <div class="col-sm-5">
          <input type="text" class="form-control input_right" [ngClass]="{form_error:gform.controls['identificacion'].touched==true && gform.controls['identificacion'].invalid }" formControlName="identificacion" placeholder="Documento de identidad">
        </div>
        <div class="col-sm-5">
          <input type="text" class="form-control" [ngClass]="{form_error:gform.controls['direccion'].touched==true && gform.controls['direccion'].invalid }" formControlName="direccion"  placeholder="Ciudad">
        </div>
        <div class="col-sm-2 btn_cancelar"><button routerLink="/venta"> <b> Cancelar</b></button></div>
      </div>
    </form>
    
  </div>
  


