h3{
   color: #CACACA;
}

.btn_atras{
    text-align: right;
    padding: 0px;
}
.btn_atras button{
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.69);
    background-color: #A5C23A;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 60%;
}
.btn_agregar{
    padding-left: 5px;    
}

.btn_agregar button{
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.69);
    background-color: #18AFC1;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 95%;
}
.btn_limpiar{
    padding-left: 0px;
}
.btn_limpiar button{
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.69);
    background-color: #2B2839;
    color: white;
    border-radius: 5px;
    width: 90%;
    padding: 5px;
    
}
.btn_guardar{
    padding-left: 0px;
}
.btn_guardar button{
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.69);
    background-color: #A5C23A;
    color: white;
    border-radius: 5px;
    width: 90%;
    padding: 5px;

}
.btn_cancelar{
    padding-left: 0px;
}
.btn_cancelar button{
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.69);
    background-color: #F1F1F1;
    color: #595959;
    border-radius: 5px;
    width: 90%;
    padding: 5px;
}

input{
    width: 95%;
    background: #F2F2F2;
    
}

::placeholder{
    color: #969696;
    text-align: center;
}
.input_right{
    margin-left: 20px;
}
.margin_bt{
    margin-bottom: 10px;
}

form{
    margin-top: 20px;
}

.form_error {
    border-color: red !important;
}