
.btnpisos{
    width: 90%;
    height: 40px;
    margin: auto;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    color: #2d2d2d;
    line-height: 2em;
    cursor: pointer;
}

.cjbtnpisos{
    text-align: center;
}

.or{
	
    padding: 0px;
    margin-top: 3px;
    text-align: center;

}

.pright{
	padding-right: 0px ;
	
}
.pleft{
	padding-left: 0px ;

}

.pright hr{
	
	margin-left: 11px;
}
.pleft hr{

    margin-right: 11px;
}
.row{
    padding-bottom: 10px;
    
}

.plantas-lista > .row:first-child > .col-12 > .btnpisos {
    background-color: #2d2d2d;
    color: #f0f0f0;
}