<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Precios</ion-title>
  </ion-toolbar>
</ion-header> -->


  <div class="row">
    <div class="col-sm-6" class="h_tresPrecios"><h3>Pagos</h3> </div>
    <div class="col-sm-6">
    </div>
  </div>
  <div class="row center">
    <div class="col-sm-12"><h3> <b> $1340000 </b></h3> <hr> </div>
  </div>

  <div class="caja">

    <div class="row titulos">
      <div class="col-sm-3">Vencido</div>
      <div class="col-sm-3">licitado</div>
      <div class="col-sm-3">Cambio</div>
      <div class="col-sm-3">Metodo</div>
    </div>
    <div class="row center mr_bottom">
      <div class="col-sm-3 border_right"> <b> $1340000 </b></div>
      <div class="col-sm-3 border_right"> <b> $300000 </b></div>
      <div class="col-sm-3 border_right"> <b> $60000 </b></div>
      <div class="col-sm-3">Pago con Tarjeta</div>
    </div>
    <div class="row center">
      <div class="col-sm-3 color_black"> <b> $1340000 </b></div>
      <div class="col-sm-3 color_green"> <b> $1400000 </b></div>
      <div class="col-sm-3 color_blue"> <b> $60000 </b></div>
      <div class="col-sm-3 color_white">Efectivo(COP)</div>
    </div>

  </div>
