.titulos{
    text-align: center;
    color: #CACACA;
    margin-bottom: 5px;
   
}
.mr_bottom{
    margin-bottom: 5px;
}
.h_tresPrecios{
    color: #CACACA;
    margin-left: 30px;
    
}
.center{
    text-align: center;
}
.center h3{
   
    margin-bottom: 0px;
}

hr{
    width: 20%;
    background-color: black;
    margin-top: 0px;
}
.border_right{
    border-right: 1px solid #CACACA;
}
.color_black{
    
    color: white;
    background-color: #2B2839;
    margin-top: 5px;
    margin-bottom:5px;
}
.color_green{
    color: white;
    background-color: #A5C23A;
    height: 33px;
    padding: 3px;
    font-size: 20px;
}
.color_blue{
    color: white;
    background-color: #18AFC1 ;
    margin-top: 5px;
    margin-bottom: 5px;
}
.color_white{
    color: black;
    background-color: #F1F1F1 ;
    margin-top: 5px;
    margin-bottom: 5px;
}
.caja{
    padding-right: 10%;
    padding-left: 10%;
}